.App {
  text-align: center;
}

.fixType {
  max-width: max-content;
}

.fixValue {
  width: max-content;
}

.Title {
  text-transform: capitalize;
}

.card-img-top {
  width: 100%;
  height: 15vh;
  object-fit: contain;
}

.card-big-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.logo {
  /* width: fit-content; */
  /* max-width: 100px; */
  /* height: fit-content; */
  outline: 2px solid #CCC;
  border: 1px solid #999;
  text-align: center;

}

.bg {
  cursor: pointer;
}

.bg-normal {
  background-color: #A8A77A;
  color: #000 !important;
}

.bg-fire {
  background-color: #EE8130;
  color: #000 !important;
}

.bg-water {
  background-color: #6390F0;
  color: #000 !important;
}

.bg-electric {
  background-color: #F7D02C;
  color: #000 !important;
}

.bg-grass {
  background-color: #7AC74C;
  color: #000 !important;
}

.bg-ice {
  background-color: #96D9D6;
  color: #000 !important;
}

.bg-fighting {
  background-color: #C22E28;
  color: #000 !important;
}

.bg-poison {
  background-color: #A33EA1;
  color: #000 !important;
}

.bg-ground {
  background-color: #E2BF65;
  color: #000 !important;
}

.bg-flying {
  background-color: #A98FF3;
  color: #000 !important;
}

.bg-psychic {
  background-color: #F95587;
  color: #000 !important;
}

.bg-bug {
  background-color: #A6B91A;
  color: #000 !important;
}

.bg-rock {
  background-color: #B6A136;
  color: #000 !important;
}

.bg-ghost,
.bg-shadow {
  background-color: #735797;
  color: #000 !important;
}

.bg-dragon {
  background-color: #6F35FC;
  color: #000 !important;
}

.bg-dark {
  background-color: #705746;
  color: #000 !important;
}

.bg-steel {
  background-color: #B7B7CE;
  color: #000 !important;
}

.bg-fairy {
  background-color: #D685AD;
  color: #000 !important;
}

.bg-unknown {
  background-color: #aaa;
  color: #000 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}